[Unit]
Description=Renews Let’s Encrypt certificates

[Service]
Type=oneshot
ExecStart=certbot-wrapper -- certonly --agree-tos --non-interactive
ExecStartPost=/usr/bin/systemctl reload nginx
