[Unit]
Description=Renews Let’s Encrypt certificates

[Service]
Type=oneshot
ExecStart=renew-letsencrypt-certs -- certonly --agree-tos --non-interactive
ExecStartPost=/usr/bin/systemctl restart nginx
